* {
	margin:0;
	padding:0;
}
 
 body {
background: #134E5E; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
   	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

header {
	margin-top: 0px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
}
 
 /* MARGEN BARRAS */
 
nav {
    top: -20px;
    position: absolute;
    left: 0;
    right: 0;
	margin: 20px auto;
	max-width: 1000px;
	width: 50%;
}
 
  /* TAMAÑO BARRAS */
  
nav > ul {
	display: table;
	width: 100%;
	background: #80FFFFFF;
	position: relative;
}

 /* POSICION BARRAS */
 
nav > ul li {
	display: table-cell;
}
 
/* TEXTO */
 
 nav > ul li a {
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 35px;
	position: relative;
	text-align: center;
	text-decoration: none;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
 
 /* BARRAS */
 
nav > ul > li > a span {
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position:absolute;
	top: -55px;
	
	/*TIEMPO DE ANIMACION DE LAS BARRAS*/
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

  /* ANIMACION */
  
nav > ul > li > a:hover > span {
	top:0;
}
 
/* COLORES */

nav ul li a .primero {
	background: #3b5998;
}
 
nav ul li a .segundo {
	background: #00aced;
}

nav ul li a .tercero {
	background: #cc181e 
}